[submodule "Source Code/Backend-API"]
	path = Source Code/Backend-API
	url = git@github.com:EIS-2/Backend-API.git
[submodule "Source Code/Frontend"]
	path = Source Code/Frontend
	url = git@github.com:EIS-2/Frontend.git
